In [2]:
import pandas as pd
import numpy as np
import scipy.stats

heart = pd.read_csv('heart.csv')
heart.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  target
0   63    1   3       145   233    1        0      150      0       1
1   37    1   2       130   250    0        1      187      0       1
2   41    0   1       130   204    0        0      172      0       1
3   56    1   1       120   236    0        1      178      0       1
4   57    0   0       120   354    0        1      163      1       1

In [6]:
ct_o = heart.groupby('sex')['target'].value_counts().unstack()
ct_o

target    0   1
sex
0        24  72
1       114  93

In [9]:
alpha = 0.01
dof = (2 - 1)*(2 - 1)
critical_value = 6.63

In [10]:
n_total = ct_o.sum().sum()
n_total

303

In [12]:
n_target_0 = ct_o[0].sum()
n_target_1 = ct_o[1].sum()
print(n_target_0, n_target_1)

138 165

In [13]:
p_target_0 = n_target_0 / n_total
p_target_1 = n_target_1 / n_total
print(p_target_0, p_target_1)

0.45544554455445546 0.5445544554455446

In [14]:
n_women = ct_o.iloc[0].sum()
n_men = ct_o.iloc[1].sum()
print(n_women, n_men)

96 207

In [15]:
f_e_target_0_women = n_women * p_target_0
f_e_target_1_women = n_women * p_target_1
print(f_e_target_0_women, f_e_target_1_women)

43.722772277227726 52.27722772277228

In [16]:
f_e_target_0_men = n_men * p_target_0
f_e_target_1_men = n_men * p_target_1
print(f_e_target_0_men, f_e_target_1_men)

94.27722772277228 112.72277227722773

In [18]:
ct_e = np.array([[f_e_target_0_women, f_e_target_1_women],
[f_e_target_0_men, f_e_target_1_men]])
ct_e

array([[ 43.72277228,  52.27722772],
       [ 94.27722772, 112.72277228]])

In [19]:
ct_o[0].sum() * ct_o.iloc[0].sum() / n_total

43.722772277227726

In [24]:
chi_square = ((ct_o - ct_e)**2 / ct_e).sum().sum()
chi_square

23.914383914761984

In [26]:
print(chi_square, critical_value)
print(chi_square > critical_value)

23.914383914761984 6.63
True

In [27]:
scipy.stats.chi2_contingency(ct_o, correction=False)

(23.914383914761988,
 1.0071642033238865e-06,
 1,
 array([[ 43.72277228,  52.27722772],
        [ 94.27722772, 112.72277228]]))