In [3]:
import pandas as pd
import scipy.stats
SW = pd.read_csv('StarWars.csv', sep=';')
SW.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится

In [5]:
ct_o = SW.groupby('gender')['fan'].value_counts().unstack()
ct_o

fan      да  нет
gender
Ж       238  159
М       303  120

In [7]:
dof = (2-1)*(2-1)
dof

1

In [16]:
fan = ct_o['да'].sum()
fan

541

In [19]:
num_total = ct_o.sum().sum()
num_total

820

In [26]:
p_fan = fan / num_total
p_not_fan = 1 - p_fan
print(p_fan, p_not_fan)

0.6597560975609756 0.34024390243902436

In [27]:
num_women = ct_o.iloc[0].sum()
num_men = ct_o.iloc[1].sum()
print (num_women, num_men)

397 423

In [25]:
f_e_wom_fan = num_women * p_fan
f_e_wom_fan

261.92317073170733

In [29]:
f_e_men_not_fan = num_men * p_not_fan
f_e_men_not_fan

143.9231707317073

In [30]:
scipy.stats.chi2_contingency(ct_o, correction=False)

(12.449350493035466,
 0.00041813719910750865,
 1,
 array([[261.92317073, 135.07682927],
        [279.07682927, 143.92317073]]))