In [6]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

heart = pd.read_csv('heart.csv')
heart.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  target
0   63    1   3       145   233    1        0      150      0       1
1   37    1   2       130   250    0        1      187      0       1
2   41    0   1       130   204    0        0      172      0       1
3   56    1   1       120   236    0        1      178      0       1
4   57    0   0       120   354    0        1      163      1       1

In [29]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   target    303 non-null    int64
dtypes: int64(10)
memory usage: 23.8 KB

In [2]:
cols_num = ['age', 'trestbps', 'chol', 'thalach']

In [8]:
X = sm.add_constant(heart['sex'])
y = heart['target']

logit = sm.Logit(y, X)
results = logit.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.648180
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      301
Method:                           MLE   Df Model:                            1
Date:                Fri, 13 Jan 2023   Pseudo R-squ.:                 0.05948
Time:                        19:28:30   Log-Likelihood:                -196.40
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 6.226e-07
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.0986      0.236      4.661      0.000       0.637       1.561
sex           -1.3022      0.274     -4.752      0.000      -1.839      -0.765
==============================================================================

In [9]:
np.exp(1.0986)

2.9999631342221873

In [10]:
np.exp(-1.3022)

0.27193288213288974

In [11]:
heart.groupby('target')['sex'].value_counts().unstack()

sex      0    1
target
0       24  114
1       72   93

In [13]:
p_1_fem = 72 / (72 + 24)
p_0_fem = 1 - p_1_fem
odds_1_fem = p_1_fem / p_0_fem
print(odds_1_fem)

3.0

In [14]:
print(np.log(odds_1_fem))

1.0986122886681098

In [19]:
X = sm.add_constant(heart.drop(['cp', 'target'], axis=1))
y = heart['target']

logit = sm.Logit(y, X)
results = logit.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.480864
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      294
Method:                           MLE   Df Model:                            8
Date:                Fri, 13 Jan 2023   Pseudo R-squ.:                  0.3023
Time:                        19:39:02   Log-Likelihood:                -145.70
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 1.705e-23
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.2171      2.040      0.597      0.551      -2.782       5.216
age           -0.0231      0.019     -1.207      0.227      -0.061       0.014
sex           -1.7588      0.356     -4.944      0.000      -2.456      -1.061
trestbps      -0.0176      0.009     -1.983      0.047      -0.035      -0.000
chol          -0.0058      0.003     -1.961      0.050      -0.012   -2.51e-06
fbs            0.2182      0.397      0.549      0.583      -0.561       0.997
restecg        0.3275      0.278      1.179      0.238      -0.217       0.872
thalach        0.0367      0.008      4.486      0.000       0.021       0.053
exang         -1.5403      0.327     -4.710      0.000      -2.181      -0.899
==============================================================================

In [20]:
np.exp(-1.7588)

0.17225144158150393

In [21]:
np.exp(0.0367)

1.0373817596234223

In [22]:
np.exp(-1.5403)

0.2143167967427348

In [23]:
X = sm.add_constant(heart[cols_num])
y = heart['target']

logit = sm.Logit(y, X)
results = logit.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.580461
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      298
Method:                           MLE   Df Model:                            4
Date:                Fri, 13 Jan 2023   Pseudo R-squ.:                  0.1577
Time:                        19:42:31   Log-Likelihood:                -175.88
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 1.680e-13
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -3.2241      1.662     -1.940      0.052      -6.481       0.032
age           -0.0054      0.016     -0.328      0.743      -0.038       0.027
trestbps      -0.0157      0.008     -2.004      0.045      -0.031      -0.000
chol          -0.0031      0.002     -1.231      0.218      -0.008       0.002
thalach        0.0436      0.007      6.194      0.000       0.030       0.057
==============================================================================

In [25]:
heart[cols_num] - heart[cols_num].mean()

           age   trestbps        chol    thalach
0     8.633663  13.376238  -13.264026   0.353135
1   -17.366337  -1.623762    3.735974  37.353135
2   -13.366337  -1.623762  -42.264026  22.353135
3     1.633663 -11.623762  -10.264026  28.353135
4     2.633663 -11.623762  107.735974  13.353135
..         ...        ...         ...        ...
298   2.633663   8.376238   -5.264026 -26.646865
299  -9.366337 -21.623762   17.735974 -17.646865
300  13.633663  12.376238  -53.264026  -8.646865
301   2.633663  -1.623762 -115.264026 -34.646865
302   2.633663  -1.623762  -10.264026  24.353135

[303 rows x 4 columns]

In [27]:
X = sm.add_constant((heart[cols_num] - heart[cols_num].mean()) / heart[cols_num].std())
y = heart['target']

logit = sm.Logit(y, X)
results = logit.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.580461
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      298
Method:                           MLE   Df Model:                            4
Date:                Fri, 13 Jan 2023   Pseudo R-squ.:                  0.1577
Time:                        19:46:48   Log-Likelihood:                -175.88
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 1.680e-13
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1947      0.129      1.505      0.132      -0.059       0.448
age           -0.0489      0.149     -0.328      0.743      -0.342       0.244
trestbps      -0.2747      0.137     -2.004      0.045      -0.543      -0.006
chol          -0.1587      0.129     -1.231      0.218      -0.411       0.094
thalach        0.9992      0.161      6.194      0.000       0.683       1.315
==============================================================================