In [175]:
import pandas as pd
import scipy.stats

X = [23, 3, 11, 35, -3, -10]
Y = [29, 1, 20, 3, 0, 0]

In [176]:
X = pd.Series(X)
Y = pd.Series(Y)

In [177]:
var_X = X.var()
var_Y = Y.var()
var_X, var_Y

(282.56666666666666, 156.56666666666666)

In [178]:
scipy.stats.ttest_ind(X, Y, equal_var=False)

Ttest_indResult(statistic=0.11689001732394605, pvalue=0.9094487485927087)

In [179]:
X = [13, 0, 6, 9, -1, 0]
Y = [4, 1, 5, 1, 20, 0]

X = pd.Series(X)
Y = pd.Series(Y)

In [180]:
var_X = X.var()
var_Y = Y.var()
var_X, var_Y

(33.1, 56.56666666666666)

In [181]:
scipy.stats.ttest_ind(X, Y, equal_var=False)

Ttest_indResult(statistic=-0.1724522454236908, pvalue=0.866753894833007)

In [182]:
X = [3, 2, 98, 34, 11, 2]
scipy.stats.ttest_1samp (a=X, popmean=7)

Ttest_1sampResult(statistic=1.1661136003542578, pvalue=0.2961612285500188)

In [183]:
scipy.stats.t.interval(0.95, 20)

(-2.0859634472658364, 2.0859634472658364)

In [184]:
urb = pd.read_csv('UrbanizationCensusTract.csv')
urb

,Unnamed: 0,statefips,state,gisjoin,lat_tract,long_tract,population,adj_radiuspop_5,urbanindex,log_pop
0,0,1,Alabama,G0100010020100,32.47718,-86.49007,1845,44076.0,10.69367,7.520235
1,1,1,Alabama,G0100010020200,32.47425,-86.47337,2172,43008.0,10.66914,7.683404
2,2,1,Alabama,G0100010020300,32.47543,-86.46019,3385,38987.0,10.57098,8.127109
3,3,1,Alabama,G0100010020400,32.47200,-86.44363,4267,43131.0,10.67200,8.358666
4,4,1,Alabama,G0100010020500,32.45883,-86.42266,9965,43131.0,10.67200,9.206834
...,...,...,...,...,...,...,...,...,...,...
73275,73275,72,Puerto Rico,G7201530750501,18.03124,-66.86725,6011,52155.0,10.86198,8.701346
73276,73276,72,Puerto Rico,G7201530750502,18.02477,-66.86044,2342,55257.0,10.91975,7.758761
73277,73277,72,Puerto Rico,G7201530750503,18.02527,-66.87763,2218,48423.0,10.78773,7.704361
73278,73278,72,Puerto Rico,G7201530750601,18.01738,-66.83936,4380,50600.0,10.83171,8.384804
73279,73279,72,Puerto Rico,G7201530750602,17.98674,-66.85192,3001,44921.0,10.71266,8.006701

In [185]:
var = urb.groupby('state')['log_pop'].var()
var

state
Alabama                 0.317655
Alaska                  0.514531
Arizona                 0.294740
Arkansas                0.260268
California              0.263989
Colorado                0.258905
Connecticut             0.167508
Delaware                0.275316
District of Columbia    0.211929
Florida                 0.330890
Georgia                 0.287560
Hawaii                  0.677076
Idaho                   0.440536
Illinois                0.237066
Indiana                 0.250655
Iowa                    0.172946
Kansas                  0.266572
Kentucky                0.287806
Louisiana               0.387592
Maine                   0.227874
Maryland                0.228657
Massachusetts           0.264198
Michigan                0.321032
Minnesota               0.198183
Mississippi             0.318911
Missouri                0.269484
Montana                 0.362417
Nebraska                0.305193
Nevada                  0.219867
New Hampshire           0.164318
New Jersey              0.233749
New Mexico              0.245027
New York                0.385041
North Carolina          0.216047
North Dakota            0.319718
Ohio                    0.250454
Oklahoma                0.336239
Oregon                  0.205748
Pennsylvania            0.283613
Puerto Rico             0.354072
Rhode Island            0.152426
South Carolina          0.274145
South Dakota            0.247386
Tennessee               0.308067
Texas                   0.341808
Utah                    0.244966
Vermont                 0.231386
Virginia                0.266383
Washington              0.184071
West Virginia           0.206541
Wisconsin               0.185339
Wyoming                 0.185171
Name: log_pop, dtype: float64

In [186]:
var_1 = var['South Dakota']
var_2 = var['Wyoming']
South_Dakota = urb[urb['state'] == 'South Dakota']
Wyoming = urb[urb['state'] == 'Wyoming']
n_1 = South_Dakota.shape[0]
n_2 = Wyoming.shape[0]
var_1, var_2, n_1, n_2

(0.24738635408141263, 0.1851712617855171, 219, 131)

In [187]:
v_1 = var_1 / n_1
v_2 = var_2 / n_2

In [188]:
dof_welch = (v_1 + v_2)**2 / (v_1**2/(n_1 - 1) + v_2**2/(n_2 - 1))
dof_welch

304.74376993186036

In [189]:
dof = n_1 + n_2 - 2
dof

348

In [190]:
t_critical = scipy.stats.t.ppf(q=1-.01/2, df=348)

In [191]:
new_table = South_Dakota.append(Wyoming)
new_table

C:\Users\eldo\AppData\Local\Temp\ipykernel_13908\3489319364.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_table = South_Dakota.append(Wyoming)

,Unnamed: 0,statefips,state,gisjoin,lat_tract,long_tract,population,adj_radiuspop_5,urbanindex,log_pop
59364,59364,46,South Dakota,G4600030973600,43.71801,-98.56155,2739,184.9298,5.219976,7.915348
59365,59365,46,South Dakota,G4600050956600,44.40363,-98.04875,1812,994.3317,6.902071,7.502186
59366,59366,46,South Dakota,G4600050956700,44.43037,-98.48525,2007,495.1572,6.204875,7.604396
59367,59367,46,South Dakota,G4600050956800,44.39103,-98.24201,1838,11898.0000,9.384126,7.516433
59368,59368,46,South Dakota,G4600050956900,44.36152,-98.21582,3017,17345.0000,9.761060,8.012018
...,...,...,...,...,...,...,...,...,...,...
72388,72388,56,Wyoming,G5600430000200,43.90462,-107.68200,3202,307.8413,5.729585,8.071531
72389,72389,56,Wyoming,G5600430000301,44.01437,-107.95640,2446,5606.0000,8.631593,7.802209
72390,72390,56,Wyoming,G5600430000302,44.02728,-107.94970,2605,8052.0000,8.993676,7.865188
72391,72391,56,Wyoming,G5600450951100,43.84015,-104.57350,3329,294.6703,5.685857,8.110427
72392,72392,56,Wyoming,G5600450951300,43.85904,-104.25440,3788,294.6703,5.685857,8.239593

In [209]:
import numpy as np

In [211]:
scipy.stats.sem(new_table['log_pop'])

0.025687952767296168

In [192]:
std = new_table['log_pop'].std()

In [193]:
number = new_table.shape[0]

In [210]:
sem = std / np.sqrt(number)
sem

0.025687952767296168

In [195]:
M1 = South_Dakota['log_pop'].mean()
M2 = Wyoming['log_pop'].mean()
M2 - M1

0.17812507657674104

In [196]:
scipy.stats.ttest_ind(South_Dakota['log_pop'], Wyoming['log_pop'], equal_var=False)

Ttest_indResult(statistic=-3.5321570336075356, pvalue=0.00047596931710874944)

In [206]:
s_m1_m2 = np.sqrt(v_1 + v_2)
s_m1_m2

0.05042954627496126

In [212]:
mean_1 = South_Dakota['log_pop'].mean()
mean_2 = Wyoming['log_pop'].mean()
mean_1, mean_2

(8.135170999590162, 8.313296076166903)

In [214]:
CI_bottom = (mean_2 - mean_1) - (t_critical*s_m1_m2)
CI_top = (mean_2 - mean_1) + (t_critical*s_m1_m2)
CI_bottom, CI_top

(0.04751101086329662, 0.30873914229018545)